.navbar{
    width: 100%;
    background: #58249c;
    padding: 20px 10px;
    box-sizing: border-box;
}
.navbar ul{
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    align-items: center;
}
.title{
    margin-right: auto;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.2em;
}.navbar button, .navbar a{
    margin-left: 16px;
}
.navbar a{
    color: #fff;
    text-decoration: none;
}
.navbar button{
    border: 2px solid #fff;
    color: #fff;
}
.navbar button:hover{
    background-color: #fff;
    color: #555;
}
.navbar li{
    color: #fff;
}
.hide{
    display: block;
}

@media screen and (max-width: 400px){
    .navbar .hide{
        display: none;
    }

}